<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppUser" connectionString="Data Source=DESKTOP-3ANPD8Q\SQLEXPRESS;initial catalog=AppUser;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" />
  </connectionStrings>
</configuration>